html, body, div, h1, h3, h4, p, img, ul, li, label, header{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
body{
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
	line-height: 1;
	background-image: url("https://previews.123rf.com/images/daicokuebisu/daicokuebisu2001/daicokuebisu200100071/138766547-cute-and-simple-cat-seamless-pattern-.jpg");
}
body, #main_input{
	font-family: 'Architects Daughter', cursive;	
}
body, li, #main_div, #list_div, #main_ul, #add_task_div{
	display: flex;
}
body, #main_div, #main_ul{
	flex-direction: column;
}
body, li, #main_div{
	align-items: center;
}
header{
	margin: 1.3%;
	background-color: black;
}
header, li{
	padding: 3%;
	color: white;
	border-radius: 47%;
}
h1{
	font-size: 150px;
}
h3, h4, li, #main_input, #add_task_div{
	text-align: center;
}
h3, #add_task, #add_task2, #main_input{
	border: 3px solid;
}
h3, h4{
	background-color: white;
	border-radius: 11%;
}
h3{
	padding: 1.5%;
	font-size: 120%;
}
h4{
	padding: 0.5%;
	border: 2px solid;
}
ul{
	list-style-type: none;
}
li{
	width: 800px;
	justify-content: space-between;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	font-size: 115%;
}
li, .new_task > input[type='checkbox'], .new_task > input[type='button']{
	margin: 1%;
}
#main_div{
	width: 47%;
	padding: 1%;
}
#by{
	margin-right: 5%;
	float: right;
}
#list_div{
	margin: 1.5%;
}
#main_input{
	width: 520px;
	font-size: 105%;
}
#main_ul{
	align-items: flex-end;
}
#add_task_div{
	flex-direction: row;
}
.new_task > input[type='checkbox']:checked  + div {
	text-decoration: line-through;
}
.new_task > input[type='button']{
	border-radius: 50%;	
}
.task_text{
	margin-top: 15px;
	margin-right: 70px;
	margin-bottom: 15px;
	margin-left: 70px;
}